/* style.css */

h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 5rem;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
   
}



.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.team-card {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    text-align: center;
}

.team-card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
}

.card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-text {
    padding: 15px;
    flex-grow: 1;
}

.card-text h3 {
    margin: 0;
    font-size: 1.25rem;
}

.card-text p {
    margin: 5px 0;
    color: #00bcd4;
    font-size: small;
}